.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
}

.loader {
    color: #bac8d7; /* Adjust the color as needed */
}

.small-card-title {
    border-bottom: 2px solid #07b4e2;
    width: fit-content;
}

.all-movies-title {
    border-bottom: 2px solid #07b4e2;
    width: fit-content;
    margin-bottom: 20px;
}

.pagination-component{
    align-self: center;
}